.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 750px;
    gap: 20px;
}

.btn-span {
    background-color: yellow;
}

#btn {
    height: 2.5rem;
    width: 6rem;
    border-radius: 10px;
    border: 1px solid grey;
}

.green {
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.yellow {
    background-color: yellow;
    font-size: 16px;
    font-weight: bold;
}

.blue {
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.orangered {
    background-color: orangered;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.black {
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.greenyellow {
    background-color: greenyellow;
    font-size: 16px;
    font-weight: bold;
}

.lawngreen {
    background-color: lawngreen;
    font-size: 16px;
    font-weight: bold;
}